FLASK_SECRET_KEY=replace-with-a-random-secret
FLASK_RUN_HOST=127.0.0.1
FLASK_RUN_PORT=5000
FLASK_DEBUG=1
LLMTOOLS_DB_PATH=src/data/qa_data.db
LLM_HOST=http://localhost
LLM_PORT=1234
LLM_MODEL_LLAMA2=TheBloke/Llama-2-7B-Chat-GGUF
LLM_MODEL_LLAMA3=QuantFactory/Meta-Llama-3-8B-Instruct-GGUF
