<div id="new-row-popup"
     class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white popup-custom-width">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Add New Question and Answer</h3>
            <div class="mt-xl-3 px-7 py-3">
                <input type="text" id="new-question" placeholder="Enter question"
                       class="mb-3 px-2 py-1 border rounded w-full"/>
                <textarea id="new-answer" placeholder="Enter answer"
                          class="mb-3 px-2 py-1 border rounded w-full"></textarea>

            </div>
            <div class="items-center px-4 py-3">
                <button id="cancel-btn" class="px-4 py-1 text-white bg-gray-500 rounded hover:bg-gray-600 mr-2">
                    Cancel
                </button>
                <button id="save-btn" class="px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Save
                </button>
            </div>
        </div>
    </div>
</div>