<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body class="bg-gray-100">
{% include 'navbar.html' %}
<!-- Popup Form for New Row -->
{% include 'add_new_row.html' %}
<!-- Upload File Popup -->
{% include 'upload_file.html' %}
<!-- This is the file upload form that will be displayed when the "Import JSONL to DB" button is clicked -->
<div id="import-jsonl-form" style="display: none;">
    <form action="{{ url_for('jsonl_to_sqlite') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jsonl">
        <input type="submit" value="Upload">
    </form>
</div>
<div class="container mx-auto px-4">
    <!-- Flex container for both forms -->
    <div class="flex justify-end mt-4 space-x-4">

        <!-- Add New Row button -->
        <div class="flex justify-end mt-4">
            <button id="add-row-btn"
                    class="px-4 py-1 text-white bg-green-500 rounded hover:bg-green-600">
                Add New QA Pair
            </button>
        </div>

        <!-- Go to Page Form -->
        <form action="{{ url_for('index') }}" method="get" class="flex items-center">
            <label for="page-number" class="mr-2">Go to page:</label>
            <input type="number" id="page-number" name="page"
                   value="{{ request.args.get('page', default=session.get('page', 1)) }}" min="1" max="{{ data.pages }}"
                   class="px-2 py-1 border rounded" required>
            <button type="submit" class="ml-2 px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Go</button>
        </form>

        <!-- Rows Per Page Form -->
        <form action="{{ url_for('index') }}" method="get" class="flex items-center">
            <label for="rows-per-page" class="mr-2">Rows per page:</label>
            <input type="number" id="rows-per-page" name="per_page" min="1" class="px-2 py-1 border rounded"
                   value="{{ request.args.get('per_page', default=session.get('per_page', 20)) }}" required>
            <button type="submit" class="ml-2 px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Set</button>
        </form>

    </div>
    <div class="flex justify-end mt-4 space-x-4">
        <!-- Search Form -->
        <div class="flex justify-end mt-4">
            <form action="{{ url_for('index') }}" method="get" class="flex items-center">
                <input type="text" id="search-qa-query" name="query-qa" placeholder="Search Questions ..."
                       class="px-2 py-1 border rounded" value="{{ query_qa }}">
                <button type="submit" class="ml-2 px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Search
                    Questions
                </button>
            </form>
        </div>
        <div class="flex justify-end mt-4">
            <form action="{{ url_for('index') }}" method="get" class="flex items-center">
                <input type="text" id="search-ans-query" name="query-ans" placeholder="Search Answers ..."
                       class="px-2 py-1 border rounded" value="{{ query_ans }}">
                <button type="submit" class="ml-2 px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Search
                    Answers
                </button>
            </form>
            <form action="{{ url_for('index') }}" method="get" class="flex items-center">
                <!-- Hidden inputs to reset search queries and set page to 1 -->
                <input type="hidden" name="query-qa" value="">
                <input type="hidden" name="query-ans" value="">
                <input type="hidden" name="page" value="1">
                <button type="submit" class="ml-2 px-4 py-1 text-white bg-red-500 rounded hover:bg-red-600">Clear
                    Search
                </button>
            </form>
        </div>
    </div>


    <h1 class="text-xl font-bold my-4">LLM Training Data</h1>
    <div>
        <p>
            {% if count > 0 %}
                Total Q&A Pairs: {{ count }}
            {% else %}
                No Q&A pairs available.
            {% endif %}
        </p>
    </div>
    <div class="bg-white shadow-md rounded my-6 overflow-x-auto">
        <table id="qa-table" class="min-w-full leading-normal custom-table-layout">
            <thead>
            <tr>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider col-id">
                    ID
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider col-question">
                    Question
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider col-answer">
                    Answer
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider col-action">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm col-id">
                        <div class="flex items-center">
                            {{ item.id }}
                        </div>
                    </td>
                    <td id="question-{{ item.id }}"
                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm col-question">
                        <div class="flex items-center" contenteditable="false">
                            {{ item.user | safe }}
                        </div>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm col-answer">
                        <div class="html-content" id="content-{{ item.id }}" contenteditable="false">
                            {{ item.assistant | safe }}
                        </div>
                    </td>

                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm col-action">
                        <div class="flex justify-around items-center h-auto">
                            <button id="edit-q-btn-{{ item.id }}" onclick="toggleQuestionEditor({{ item.id }})"
                                    class="text-green-500 hover:text-green-800">
                                <img src="{{ url_for('static', filename='res/questionEditIcon.svg') }}"
                                     alt="Question Edit icon"/>
                                <span>Edit Q</span>
                            </button>
                            <div>&nbsp &nbsp</div>

                            <button id="edit-a-btn-{{ item.id }}" onclick="toggleAnswerEditor({{ item.id }})"
                                    class="text-purple-500 hover:text-purple-900">
                                <img src="{{ url_for('static', filename='res/answerEditIcon.svg') }}"
                                     alt="Answer Edit icon"/>
                                <span>Edit A</span>
                            </button>


                            <!-- Delete Button with Red Cross SVG -->
                            <button id="delete-btn-{{ item.id }}" onclick="deleteQAPair({{ item.id }})"
                                    class="text-red-500 hover:text-red-800" style="margin-left: 10px">
                                <img src="{{ url_for('static', filename='res/deleteIcon.svg') }}"
                                     alt="Delete icon"/>
                                <span>Delete Row</span>
                            </button>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Pagination Links -->
        {% if data.items|length > 0 %}
            <div class="flex justify-end mt-4">
                {% if data.has_prev %}
                    <a href="{{ url_for('index', page=data.prev_num) }}?per_page={{ session.get('per_page', 20) }}"
                       class="px-4 py-2 text-sm text-blue-500">Prev</a>
                {% endif %}
                {% for p in data.iter_pages() %}
                    {% if p %}
                        <a href="{{ url_for('index', page=p, per_page=session.get('per_page', 20)) }}"
                           class="px-4 py-2 text-sm {{ 'font-bold' if p == data.page else 'text-blue-500' }}">{{ p }}</a>
                    {% else %}
                        <span class="px-4 py-2 text-sm text-gray-500">...</span>
                    {% endif %}
                {% endfor %}
                {% if data.has_next %}
                    <a href="{{ url_for('index', page=data.next_num) }}?per_page={{ session.get('per_page', 20) }}"
                       class="px-4 py-2 text-sm text-blue-500">Next</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

<!-- JavaScript to handle row editing -->
<script>
    const staticUrl = "{{ url_for('static', filename='') }}";
</script>
<script src="{{ url_for('static', filename='js/table_main.js') }}">
    const staticUrl = "{{ url_for('static', filename='') }}";
    const CKEDITOR = window.CKEDITOR;
</script>
</body>
</html>

