<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

    <title>LLM Training App</title>
    <style>
        .html-content {
            min-height: 100px;
        }

        /* CSS class for CKEditor field in edit mode */
        .editing {
            background-color: cornsilk !important;
        }

        .not-editing {
            background-color: white !important;
        }

        .custom-table-layout {
            table-layout: fixed;
            width: 100%;
        }

        .col-id {
            width: 5%;
        }

        .col-question {
            width: 20%;
        }

        .col-answer {
            width: 65%;
        }

        .col-action {
            width: 10%;
        }

        .popup-custom-width {
            width: 80%; /* or any other value */
        }

    </style>
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-4">
    <!-- Flex container for both forms -->
    <div class="flex justify-end mt-4 space-x-4">
        <!-- Add Row Form -->
        <div class="flex justify-end mt-4">
            <button id="add-row-btn"
                    class="px-4 py-1 text-white bg-green-500 rounded hover:bg-green-600">
                Add New QA Pair
            </button>
        </div>
        <!-- Go to Page Form -->
        <form action="{{ url_for('index') }}" method="get" class="flex items-center">
            <label for="page-number" class="mr-2">Go to page:</label>
            <input type="number" id="page-number" name="page"
                   value="{{ request.args.get('page', default=session.get('page', 1)) }}" min="1" max="{{ data.pages }}"
                   class="px-2 py-1 border rounded" required>
            <button type="submit" class="ml-2 px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Go</button>
        </form>

        <!-- Rows Per Page Form -->
        <form action="{{ url_for('index') }}" method="get" class="flex items-center">
            <label for="rows-per-page" class="mr-2">Rows per page:</label>
            <input type="number" id="rows-per-page" name="per_page" min="1" class="px-2 py-1 border rounded"
                   value="{{ request.args.get('per_page', default=session.get('per_page', 20)) }}" required>
            <button type="submit" class="ml-2 px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Set</button>
        </form>

    </div>
    <div class="flex justify-end mt-4 space-x-4">
        <!-- Search Form -->
        <div class="flex justify-end mt-4">
            <form action="{{ url_for('index') }}" method="get" class="flex items-center">
                <input type="text" id="search-qa-query" name="query-qa" placeholder="Search Questions ..."
                       class="px-2 py-1 border rounded" value="{{ query_qa }}">
                <button type="submit" class="ml-2 px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Search
                    Questions
                </button>
            </form>
        </div>
        <div class="flex justify-end mt-4">
            <form action="{{ url_for('index') }}" method="get" class="flex items-center">
                <input type="text" id="search-ans-query" name="query-ans" placeholder="Search Answers ..."
                       class="px-2 py-1 border rounded" value="{{ query_ans }}">
                <button type="submit" class="ml-2 px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Search
                    Answers
                </button>
            </form>
            <form action="{{ url_for('index') }}" method="get" class="flex items-center">
                <!-- Hidden inputs to reset search queries and set page to 1 -->
                <input type="hidden" name="query-qa" value="">
                <input type="hidden" name="query-ans" value="">
                <input type="hidden" name="page" value="1">
                <button type="submit" class="ml-2 px-4 py-1 text-white bg-red-500 rounded hover:bg-red-600">Clear
                    Search
                </button>
            </form>
        </div>
    </div>
    <!-- Popup Form for New Row -->
    <div id="new-row-popup"
         class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white popup-custom-width">
            <div class="mt-3 text-center">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Add New Question and Answer</h3>
                <div class="mt-xl-3 px-7 py-3">
                    <input type="text" id="new-question" placeholder="Enter question"
                           class="mb-3 px-2 py-1 border rounded w-full"/>
                    <textarea id="new-answer" placeholder="Enter answer"
                              class="mb-3 px-2 py-1 border rounded w-full"></textarea>

                </div>
                <div class="items-center px-4 py-3">
                    <button id="cancel-btn" class="px-4 py-1 text-white bg-gray-500 rounded hover:bg-gray-600 mr-2">
                        Cancel
                    </button>
                    <button id="save-btn" class="px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">Save
                    </button>
                </div>
            </div>
        </div>
    </div>


    <h1 class="text-xl font-bold my-4">LLM Training Data</h1>
    <div>
        <p>
            {% if count > 0 %}
                Total Q&A Pairs: {{ count }}
            {% else %}
                No Q&A pairs available.
            {% endif %}
        </p>


    </div>
    <div class="bg-white shadow-md rounded my-6 overflow-x-auto">
        <table class="min-w-full leading-normal custom-table-layout">
            <thead>
            <tr>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider col-id">
                    ID
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider col-question">
                    Question
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider col-answer">
                    Answer
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider col-action">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm col-id">
                        <div class="flex items-center">
                            {{ item.id }}
                        </div>
                    </td>
                    <td id="question-{{ item.id }}"
                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm col-question">
                        <div class="flex items-center" contenteditabl="false">
                            {{ item.user | safe }}
                        </div>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm col-answer">
                        <div class="html-content" id="content-{{ item.id }}" contenteditable="false">
                            {{ item.assistant | safe }}
                        </div>
                    </td>

                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm col-action">
                        <div class="flex justify-around items-center h-auto">
                            <button id="edit-q-btn-{{ item.id }}" onclick="toggleQuestionEditor({{ item.id }})"
                                    class="text-green-500 hover:text-green-800">
                                <img src="{{ url_for('static', filename='res/questionEditIcon.svg') }}"
                                     alt="Question Edit icon"/>
                                <span>Edit Q</span>
                            </button>
                            <div>&nbsp &nbsp</div>

                            <button id="edit-a-btn-{{ item.id }}" onclick="toggleAnswerEditor({{ item.id }})"
                                    class="text-purple-500 hover:text-purple-900">
                                <img src="{{ url_for('static', filename='res/answerEditIcon.svg') }}"
                                     alt="Answer Edit icon"/>
                                <span>Edit A</span>
                            </button>


                            <!-- Delete Button with Red Cross SVG -->
                            <button id="delete-btn-{{ item.id }}" onclick="deleteQAPair({{ item.id }})"
                                    class="text-red-500 hover:text-red-800" style="margin-left: 10px">
                                <img src="{{ url_for('static', filename='res/deleteIcon.svg') }}"
                                     alt="Delete icon"/>
                                <span>Delete Row</span>
                            </button>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="flex justify-end mt-4">
            {% if data.has_prev %}
                <a href="{{ url_for('index', page=data.prev_num) }}?per_page={{ session.get('per_page', 20) }}"
                   class="px-4 py-2 text-sm text-blue-500">Prev</a>
            {% endif %}
            {% for p in data.iter_pages() %}
                {% if p %}
                    <a href="{{ url_for('index', page=p, per_page=session.get('per_page', 20)) }}"
                       class="px-4 py-2 text-sm {{ 'font-bold' if p == data.page else 'text-blue-500' }}">{{ p }}</a>
                {% else %}
                    <span class="px-4 py-2 text-sm text-gray-500">...</span>
                {% endif %}
            {% endfor %}
            {% if data.has_next %}
                <a href="{{ url_for('index', page=data.next_num) }}?per_page={{ session.get('per_page', 20) }}"
                   class="px-4 py-2 text-sm text-blue-500">Next</a>
            {% endif %}
        </div>

    </div>
</div>

<!-- JavaScript to handle row editing -->
<script>

    function toggleQuestionEditor(item_id) {
        let questionDiv = document.getElementById('question-' + item_id);
        let isEditing = questionDiv.getAttribute('contenteditable') === 'true';
        let editQuestionButton = document.getElementById('edit-q-btn-' + item_id);
        if (isEditing) {
            // Save the edited question
            let newQuestion = questionDiv.innerText;
            fetch('/update_question', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    item_id: item_id,
                    new_question: newQuestion
                }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message); // Handle success or error message
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            questionDiv.setAttribute('contenteditable', 'false');
            questionDiv.classList.remove('editing');
            editQuestionButton.querySelector('span').textContent = 'Edit Q';
            editQuestionButton.querySelector('img').src = "{{ url_for('static', filename='res/questionEditIcon.svg') }}";
            questionDiv.classList.add('not-editing');
        } else {
            // Enable editing
            questionDiv.setAttribute('contenteditable', 'true');
            questionDiv.classList.add('editing');
            questionDiv.focus();
            {#document.getElementById('edit-q-btn-' + item_id).innerText = 'Save';#}
            editQuestionButton.querySelector('span').textContent = 'Save';
            editQuestionButton.querySelector('img').src = "{{ url_for('static', filename='res/saveIcon.svg') }}";
            questionDiv.focus();
            questionDiv.classList.add('editing');
        }
    }

    let newAnswerEditor;

    function toggleAnswerEditor(item_id) {
        console.log('Toggling editor for item ID ' + item_id);
        let contentDiv = document.getElementById('content-' + item_id);
        console.log("Content Div -- ", contentDiv);
        let editorInstance = CKEDITOR.instances['content-' + item_id]; // Corrected instance ID
        console.log("Editor Instance --", editorInstance);
        let editAnswerButton = document.getElementById('edit-a-btn-' + item_id);
        if (contentDiv.getAttribute('contenteditable') === 'true') {
            // Switch to "Save" mode
            let data = editorInstance.getData();
            console.log("Edited html -- ", data);
            fetch('/update_answer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    item_id: item_id,
                    content: data,
                }),
            })
                .then(response => {
                    if (response.ok) {
                        // Data saved successfully, you can show a success message if needed
                        console.log('Content saved successfully');
                    } else {
                        // Handle errors
                        console.error('Error saving content');
                    }
                })
                .catch(error => {
                    console.error('Network error:', error);
                });
            editorInstance.destroy(); // Destroy the editor instance
            contentDiv.setAttribute('contenteditable', 'false');
            contentDiv.innerHTML = data; // Update the div with the new HTML content
            editAnswerButton.querySelector('span').textContent = 'Edit A';
            editAnswerButton.querySelector('img').src = "{{ url_for('static', filename='res/answerEditIcon.svg') }}";
            contentDiv.classList.add('not-editing');
        } else {
            // Switch to "Edit" mode
            console.log('Switching to edit mode');
            console.log("Editing  -- content-" + item_id);
            CKEDITOR.inline('content-' + item_id, {
                // Enable spellcheck
                scayt_autoStartup: true, // Automatically start Spell Check As You Type
                scayt_sLang: 'en_US', // Language for spellcheck (change to your desired language)
                scayt_uiTabs: '1,1,1', // Enable all SCAYT tabs (Spelling, Options, Grammar)
                contenteditable: true, // Enable contenteditable attribute on element
            }); // Corrected editor initialization
            contentDiv.setAttribute('contenteditable', 'true');

            contentDiv.focus();
            editAnswerButton.querySelector('span').textContent = 'Save';
            editAnswerButton.querySelector('img').src = "{{ url_for('static', filename='res/saveIcon.svg') }}";

            // Add the 'editing' class to change the background color to white
            contentDiv.classList.add('editing');
        }
    }

    // Function to show the popup
    function showPopup() {
        document.getElementById('new-row-popup').classList.remove('hidden');
        CKEDITOR.replace('new-answer', {
            // Custom CKEditor configuration
        });
        newAnswerEditor = CKEDITOR.instances['new-answer'];
    }

    // Function to hide the popup
    function hidePopup() {
        if (newAnswerEditor) {
            newAnswerEditor.destroy();
            newAnswerEditor = null;
        }
        document.getElementById('new-row-popup').classList.add('hidden');
    }

    // Existing saveNewRow function, modified to handle POST request
    function saveNewRow() {
        let question = document.getElementById('new-question').value;
        let answer = newAnswerEditor.getData();

        fetch('/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                user: question,
                assistant: answer
            }),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // After an add, update, or delete operation
                window.location.reload();

                // Optionally, update the table here to show the new row
                // You might need to write a function to update the DOM
            })
            .catch((error) => {
                console.error('Error:', error);
            });

        hidePopup();
    }

    // Function to handle Delete QA Pair
    function deleteQAPair(item_id) {
        if (item_id == 1) {
            alert("Cannot delete this row");
            return;
        }

        if (item_id > 2) {
            console.log('Deleting item ID ' + item_id);
            if (confirm("Are you sure you want to delete this item?")) {
                fetch('/delete/' + item_id, {
                    method: 'DELETE',
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Delete Success:', data);
                        // After an add, update, or delete operation
                        window.location.reload();

                        // Optionally, remove the deleted row from the table
                        // document.getElementById('row-' + item_id).remove();
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        }
    }

    // Event listener for 'Add New Row' button
    document.getElementById('add-row-btn').addEventListener('click', showPopup);

    // Event listener for 'Cancel' button in the popup
    document.getElementById('cancel-btn').addEventListener('click', hidePopup);

    // Event listener for 'Save' button in the popup
    document.getElementById('save-btn').addEventListener('click', saveNewRow);


</script>
</body>
</html>

